html, body, h1, h2, h3 {
  margin: 0;
}

body {
  color: #29293E;
  /* color: #FFFFFF; */
  font-family: "Microsoft Yahei";
}

p {
  font-size: 14px;
  color: #222222;
}

.header {
  height: 600px;
  background: #F7D963 url(img/bg.gif) center top no-repeat;
  background-size: cover;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  /* background: rgba(0,0,0,.5); */
  background: rgba(173, 173, 173, 0.7);
  text-align: center;
}

.intro .title {
  margin-top: 160px;
}

.elements {
  position: relative;
  width: 700px;
  padding: 30px 20px 30px 0;
  top: 470px;
  margin: auto;
  background: #F5F5F5;
  border-radius: 6px;
  box-shadow: 2px 2px 3px rgba(0,0,0,.15);
  text-align: center;
}

.elements h2 {
  margin-bottom: 20px;
}

.element {
  display: inline-block;
  width: 200px;
  margin-left: 20px;
}

.element img {
  width: 60px;
}

.faq {
  padding: 180px 30px 30px 30px;
  text-align: center;
  background: #F3F5F7;
}

.faq .list > li {
  width: 350px;
}

.list {
  list-style: none;
  margin: 0 auto;
  padding: 20px;
}

.list > li {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}


.course {
  padding: 30px;
  text-align: center;
  background: #F6D86C;
}

.course .list > li {
  width: 250px;
}

.footer {
  text-align: center;
  color: #FFFFFF;
  background: #2E3132;
  padding: 30px;
}
